html, body {
	font-family: Sans-Serif;
	line-height: 1.6;
	font-size: 16px;
	color: #333333;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

a {
	color: #1b70e0;
}

img {
	max-width: 100%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

#avatar {
	max-width: 128px;
	margin: 0 auto;
}

header {
	margin-top: 2rem;
	border-bottom: 1px solid #e2e2e2;
}

header > h1, header > p {
	display: inline-block;
}

#lead {
	font-size: 1.25rem;
	font-weight: 300;
}

footer {
	border-top: 1px solid #e2e2e2;
	margin-top: 2rem;
	text-align: right;
}